h1 {
    color: rgb(18, 81, 20);
    text-align: center;
    font-weight: bold;
    font-size: 2.8em;
}

a { color:rgb(180, 231, 255);

}
.red_font{
    color:green;
}

#purple_italic_font{
    color: rgb(0, 83, 128);
    font-style: italic;
    font-weight: bold;
}

.border{
    border-style: solid;
}

.banner{
    border-bottom: solid;
    border-top: solid;
    background-color: rgb(109, 157, 109);
}
